/* PRODUCT SECTION */

.fashion-product-section{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.fashion-product-container{
    height: 23rem;
    max-width: 18.35rem;
    background-color: var(--bg-color-white);
    box-shadow: var(--box-shadow2);
    padding: .5rem;
    cursor: pointer;
}

.fashion-product-offer{
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.fashion-product-offer p{
    left: 0;
    position: absolute;
    height: 1.5rem;
    width: 5rem;
    font-size: .8rem;
    z-index: -1;
    font-weight: bolder;
    color: var(--text-clr);
    background-color: rgba(0, 0, 0, 0.5);

}

.fashion-product-offer:hover span, .fashion-product-offer:hover p{
    z-index: 0;
    transition: .2s ease-in-out;
}

.fashion-product-offer span{
    position: absolute;
    right: 0;
    height: 1.5rem;
    width: 4rem;
    font-size: .8rem;
    font-style: italic;
    font-weight: bolder;
    z-index: -1;
    color: var(--text-clr);
    background-color: rgba(0, 0, 0, 0.5);
}

.fashion-product-offer img{
    height: 15.25rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.fashion-product-details{
    max-height: 2rem;
    max-width: 100%;
    margin-block: .5rem;
    overflow: hidden;
}

.fashion-product-ratings{
    max-height: 1rem;
    justify-content: space-around;
    margin-block: .5rem;
}

.add-to-cart{
    margin-block: .5rem;
}

/*---------- FOOTER SECTION ----------*/

.footer-all{
    height: 9vh;
    width: 100%;
    background-color: var(--secondary-clr);
}

.copy-right span{
    color: var(--text-clr);
    font-weight: 400;
}







/*------------ MEDIA QUERYS FOR LAPTOP SCREEN ------------ */

@media screen and (max-width: 992px){
    main{
        margin-top: -1.5rem;
    }
}



/*------------ MEDIA QUERYS FOR TABLET SCREEN ------------*/

@media screen and (max-width: 768px) {
    main{
        margin-top: -2rem;
    }
}

/*------------ MEDIA QUERYS FOR MOBILE PHONE SCREEN ------------*/

@media screen and (max-width: 576px){
    main{
        margin-top: -3rem;
    }
}


@media (min-width: 360px) and (max-width: 480px) {
    main{
        margin-top: -1.5rem;
    }
}